[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hivepy = ">=0.10"
rfc3987 = "*"
pyyaml = "*"
munch = "*"
loguru = "*"
requests = "*"
sorcery = "*"

[dev-packages]
jedi = "*"
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3"
