[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
steem = "*"
iniparse = "*"
rfc3987 = "*"

[dev-packages]
jedi = "*"
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3"
