<div id="about" class="hidden jumbotron page">
  <h1>Curangel - curation serving everyone</h1>
  <h2>Mission</h2>
  <p>Curangel is a curation service rewarding curators and delegators while benefitting the whole Steem community, created by the long term witness
    <a href="http://pharesim.me" target="_blank">pharesim</a>.</p>
  <p>Our curation is a combination of the hard work of manual curators and automated distribution of the votes of delegated stake.
  80% of the curation rewards are given to delegators and 20% to the individual curator.
  Besides spreading the value and supporting creators and authors on Steem, our mission also includes providing delegators with access to their fair share of downvotes.</p>

  <h2>Why delegate to us?</h2>
  <p>We strongly believe that empowering curators of Steem is the key to spreading the value, providing authors with exposure and motivation as well as
  increasing the quality of content on Steem. While whitelists work mostly, they are not abuse proof.
  With our curation model curators ensure only original content is handpicked and supported directly and at the same time abuse cases are
  fought with downvotes from the combined stake when delegators decide to do so.</p>

  <h2>What is our curation process?</h2>
  <p>Curators look through a variety of tags on Steem for original content from authors and add it to the queue for the Curangel account to follow once it reaches
  upvote mana of 100%. The weight of the vote depends on the length of the queue in a way that it will never take longer than 24 hours for a post to be voted after proposal.</p>

  <h2>How do downvotes work?</h2>
  <p>Every 12 hours delegators can propose 3 posts with a minimum of 24 hours until payout. Every 12 hours half the combined free downvote mana of all delegators
  is used to downvote the proposed posts, weighted by the delegated stake of the proposing users.</p>
</div>
