<!--main-->
<main id="about" class="page page-content">
  <!--section-->
  <section class="content-block support-block">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Support <span class="style1">HIVE</span></h1>
          <h1><span class="style2">Earn</span> interest!</h1>

          <div class="text-wrap">
            <p>Our experienced group of international curators works around
              the clock to support a wide range of authors on HIVE,
              motivating them to keep creating quality content. </p>

            <p>The curation rewards paid out by the blockchain generate up
              to 10% APR for Investors. Your HIVE never leave your wallet,
              where they earn another 2% staking rewards. That's a total of
              12% per year, completely passive, and without any counterparty
              risk.</p>
          </div>

          <h3>Everybody wins! What are you waiting for? <strong><a href="https://discord.gg/WKNXyd" target="_blank">Join us now!</a></strong></h3>
          <div class="btn-groups">
            <form>
              <input id="delegateNowUser" name="delegator" class="form-group custom-field" placeholder="HIVE username"/>
              <input id="delegateNowAmount" name="delegatex" class="form-group custom-field" placeholder="HP to delegate"/>
              <a href="#" id="delegateNow" class="solid-btn">Delegate</a>
          </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="text-center right-col">
            <h2>Curangel lets you put your HIVE to work,
              without actually doing anything.</h2>
            <div class="img-wrap">
              <img src="img/Group 553@2x.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--./section-->
  <!--section-->
  <section class="content-block tab-block">
      <div class="tab-wrap">
        <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="mission-tab" data-toggle="tab" href="#mission" role="tab" aria-controls="mission" aria-selected="true">Our Mission</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="delegate-tab" data-toggle="tab" href="#delegatet" role="tab" aria-controls="delegatet" aria-selected="false">Why delegate to us?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="process-tab" data-toggle="tab" href="#process" role="tab" aria-controls="process" aria-selected="false">What is our curation process?</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="mission" role="tabpanel" aria-labelledby="mission-tab">

              <p>Curangel is a curation service rewarding curators and delegators while benefitting the whole Hive community, created by the long term witness <a href="http://pharesim.me/" target="_blank">pharesim.</a>
              </p>
              <p>
                Our curation is a combination of the hard work of manual curators and automated distribution of the votes of delegated stake. 80% of the curation rewards are given to delegators and 20% to the individual curator. Besides spreading the value and supporting creators and authors on Hive, our mission also includes providing delegators with access to their fair share of downvotes.
              </p>
          </div>
          <div class="tab-pane fade" id="delegatet" role="tabpanel" aria-labelledby="delegate-tab">
              <p>We strongly believe that empowering curators of Hive is the key to spreading the value, providing authors with exposure and motivation as well as increasing the quality of content on Hive. While whitelists work mostly, they are not abuse proof. With our curation model curators ensure only original content is handpicked and supported directly and at the same time abuse cases are fought with downvotes from the combined stake when delegators decide to do so.</p>
          </div>
          <div class="tab-pane fade" id="process" role="tabpanel" aria-labelledby="process-tab">
              <p>Curators look through a variety of tags on Hive for original content from authors and add it to the queue for the Curangel account to follow once it reaches upvote mana of 100%. The weight of the vote depends on the length of the queue in a way that it will never take longer than 24 hours for a post to be voted after proposal.</p>
            </div>
        </div>
      </div>
    </div>
  </section>
  <!--./section-->
</main>
<!--/main-->
