<div id="downvote" class="hidden page">
  <h1>Downvotes happen twice a day at 11 GMT, you can add 3 entries for each event</h1>
  <div>
    <h2>Mark a post or comment for downvote</h2>
    <form id="downvoteForm">
      <div class="form-group">
        <input type="text" id="newDownvote" class="form-control" placeholder="full link to post or comment"/>
      </div>
      <div class="form-group">
        <input type="text" id="newDownvoteReason" class="form-control" placeholder="reason for downvote" />
      </div>
      <button class="btn" id="sendNewDownvote">Send</button>
      <button class="btn hidden" id="sendingDownvote">Sending...</button>
    </form>
  </div>
  <br />
  <div class="table-responsive">
    <h2>History of your downvotes</h2>
    <table class="table table-hover table-sm" id="downvotesTable">
      <thead class="thead-dark">
        <tr>
          <th>Date</th>
          <th>Reason</th>
          <th>User</th>
          <th>Title</th>
          <th>Type</th>
          <th>Payout</th>
          <th>Reward</th>
          <th>Status</th>
          <th>Cashout</th>
          <th>Delete</th>
      </thead>
      <tbody id="downvotesTableBody">

      </tbody>
    </table>
  </div>
</div>
