<div id="downvote" class="hidden jumbotron page">
  <h1>Downvotes are not active yet, the list will be cleared when we go public.</h1>
  <div>
    <h2>Mark a post or comment for downvote</h2>
    <div><input type="text" id="newDownvote" size="100%" placeholder="full link to post or comment"/></div>
    <div><input type="text" id="newDownvoteReason" size="100%" placeholder="reason for downvote" /></div>
    <button class="btn" id="sendNewDownvote">Send</button>
  </div>
  <div>
    <h2>History of your downvotes</h2>
    <table class="table table-hover table-sm" id="downvotesTable">
      <thead class="thead-dark">
        <tr>
          <th>Date</th>
          <th>Reason</th>
          <th>User</th>
          <th>Title</th>
          <th>Type</th>
          <th>Payout</th>
          <th>Reward</th>
          <th>Status</th>
          <th>Cashout</th>
          <th>Delete</th>
      </thead>
      <tbody id="downvotesTableBody">

      </tbody>
    </table>
  </div>
</div>
