<div id="register" class="hidden page">
  <div id="registerForm">
    <h1>Register with Curangel<h1>
    <div class="lead">
      <form>
        <div class="form-group">
          <input class="form-control" type="text" id="registerUsername" placeholder="Your steem username" />
        </div>
        <div class="form-group">
          <input class="form-control" type="password" id="registerPostingKey" placeholder="Your posting key" />
        </div>
        <div id="registerError" class="hidden">Registration error</div>
        <button id="registerNow" class="btn" href="#">Register</button>
      </form>
    </div>
  </div>
  <div id="registerSuccess" class="hidden">
    You were successfully registered. If you are a curator, join our Discord to find an admin to give you the proper permissions.<br />
    You can <a href="#" id="loginFromRegister">Log in now</a>
  </div>
</div>
