<div id="register" class="hidden page">
  <div id="registerForm">
    <h1>Register with Curangel<h1>
    <div class="lead">
      Registration is only necessary for delegators. If you don't intend to delegate, there's nothing to see beyond what you can see now.
      <form id="registerForm">
        <div class="form-group">
          <input class="form-control" type="text" id="registerUsername" placeholder="Your Hive username" />
        </div>
        <div class="form-group">
          <input class="form-control" type="password" id="registerPostingKey" placeholder="Your posting key" />
        </div>
        <div id="registerError" class="hidden">Registration error</div>
        <button id="registerNow" class="btn" href="#">Register</button>
      </form>
    </div>
  </div>
  <div id="registerSuccess" class="hidden">
    You were successfully registered. As soon as your delegation arrives, you will get access to the downvote form.<br />
    If you are a curator, tell an admin to give you the proper permissions.<br />
    You can <a href="#" id="loginFromRegister">Log in now</a>
  </div>
</div>
