<div id="upvote" class="hidden page">
  <div>
    <h2>Suggest a post or comment to upvote</h2>
    <form>
      <div class="form-group">
        <input type="text" id="newUpvote" class="form-control" placeholder="full link to post or comment"/>
      </div>
      <button class="btn" id="sendNewUpvote">Send</button>
    </form>
  </div>
  <br />
  <div class="table-responsive">
    <h2>History of your suggestions</h2>
    <table class="table table-hover table-sm" id="upvotesTable">
      <thead class="thead-dark">
        <tr>
          <th>Date</th>
          <th>User</th>
          <th>Title</th>
          <th>Type</th>
          <th>Payout</th>
          <th>Status</th>
          <th>Reward</th>
          <th>Delete</th>
      </thead>
      <tbody id="upvotesTableBody">

      </tbody>
    </table>
  </div>
</div>
